<div class="wrapper">
	<%= link_to 'Back', pins_path %>

	<div class = "row">
		<div class="col-md-6">
		  <div class="pinmappanel panel panel-default">
		    <div class='panel-heading'><strong>Map</strong></div>
		    <div class="panel-body"><div id="map-canvas"></div></div>    
		  </div>
		</div>

		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading center">
					<%= image_tag @pin.image.url(:medium) %>
				</div>
				<div calss="panel-body">
					<p><%= @pin.description %></p>
					<% if @pin.user %>
            <%= link_to image_tag @pin.user.avatar.url(:thumb)%>
          <% end %>

          <% if @pin.latitude %>
          	<script >
          	 createMarker(<%= @pin.latitude %>, <%= @pin.longitude %>);
          	</script>
          	<!--<script >alert('<%= @pin.latitude %>')</script> -->
          <% end %>

					<% if @pin.user == current_user %>
						<div class="actions">
							<%= link_to edit_pin_path(@pin) do%>
		              <span class='glyphicon glyphicon-edit'></span>Edit
		          <% end %>
		        </div>
					<% end %>
				</div>
			</div>
	 	</div>
	</div>
</div>

